<a href="https://colab.research.google.com/github/youngjin1106/sales-predictions/blob/main/Project_2_Part_2_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# import libraries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [6]:
### Load Dataset 
# source of the data: https://www.kaggle.com/datasets/carlolepelaars/toy-dataset
# this data describe the information of each people and shows that each person has illness or not
# Therefore, this is a classification problem.
filename = '/content/toy_dataset.csv'
df = pd.read_csv(filename)
df.head()

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

In [7]:
# change to df.ml from the original data
df_ml = df.copy()

In [9]:
# df_ml.shape shows 150000rows and 6 columns
df_ml.shape

(150000, 6)

In [10]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Number   150000 non-null  int64
 1   City     150000 non-null  object
 2   Gender   150000 non-null  object
 3   Age      150000 non-null  int64
 4   Income   150000 non-null  float64
 5   Illness  150000 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 6.9+ MB

In [11]:
df_ml.isna().sum()

Number     0
City       0
Gender     0
Age        0
Income     0
Illness    0
dtype: int64

In [14]:
# Checking duplicates 
df_ml.duplicated().sum()

0

In [13]:
# checking for the missing values
for col in df_ml.select_dtypes(include='object').columns:
  display(df_ml[col].value_counts())
  print('\n')

New York City      50307
Los Angeles        32173
Dallas             19707
Mountain View      14219
Austin             12292
Boston              8301
Washington D.C.     8120
San Diego           4881
Name: City, dtype: int64

Male      83800
Female    66200
Name: Gender, dtype: int64

No     137861
Yes     12139
Name: Illness, dtype: int64

In [15]:
# Target is "Illness"
# define features X and Target Y
# there has 5 features
target = 'Illness'
X = df_ml.drop(columns = target)
y = df_ml[target]

In [16]:
# Checking outliers
df_ml.describe()

              Number            Age         Income
count  150000.000000  150000.000000  150000.000000
mean    75000.500000      44.950200   91252.798273
std     43301.414527      11.572486   24989.500948
min         1.000000      25.000000    -654.000000
25%     37500.750000      35.000000   80867.750000
50%     75000.500000      45.000000   93655.000000
75%    112500.250000      55.000000  104519.000000
max    150000.000000      65.000000  177157.000000

In [17]:
# -654 Incoe does not make sense in the data
df_ml.loc[df_ml['Income'] < 0]

     Number    City  Gender  Age  Income Illness
245     246  Dallas  Female   40  -654.0     Yes

In [18]:
# drop the row which it does not make sense
df_ml = df_ml.drop(index = 245)

In [ ]:
# I think its all set for exploring the data